
//- Just a static page for what the profile page may look like?
extends layout

block content
  script(src='js/profile.js')
  script(src='https://code.jquery.com/jquery-3.2.1.min.js')
  div.container
    div(class='jumbotron container-fluid' style='text-align: center')
      body
        title Tank City: Profile
        div
          h2 PROFILE
          p Welcome, #{userName}!
        div
          img(src='/images/prof-icon.png' style='height: 200px; padding-bottom: 10px;')
          br
          div
            form(method='POST' action='/profile' style='width: 70%; margin: auto;')
              p(id='firstNameField') First Name: #{firstName}
              p(id='lastNameField') Last Name: #{lastName}
              p(id='passwordField') Password:
                i(style = '-webkit-text-security: disc;') #{password}
              p(id='emailField') Email: #{email}
              p
                button(id='editProfile' type= 'button' onclick='editButton()'
                       class='btn btn-default' style='padding: 2px 11px;') EDIT
                button(id='saveProfile' type= 'submit'
                       class='btn btn-default' style='padding: 2px 11px; display:none') SAVE
