
//- Just a static page for what the profile page may look like?
extends layout

block content
  script(src='/model/player.js')
  div.container
    div(class='jumbotron container-fluid' style='text-align: center')
      body
        title Tank City: Profile
        div
          h2 PROFILE
          p Welcome, #{userName}!
        div
          img(src='/images/prof-icon.png' style='height: 200px; padding-bottom: 10px;')
          br
          div.col-md-4
            p Name:
            p Email:
          div.col-md-4
            p #{name}
            p #{email}
          div.col-md-4
            p
              button(class='btn btn-default' style='padding: 2px 11px;') EDIT
            p
              button(class='btn btn-default' style='padding: 2px 11px;') EDIT
          //-this is how to access logged in user. ("res.redirect("profile", {userName: req.user.username})"
            in profile.js)
          //p
          //table
            tbody
              each val in query_rows
                  td= val.username
                  td= val.first_name
                  td= val.last_name
                  td= val.email
              else
                li No values
      //a(href="/logout") Logout
