
//- Just a static page for what the profile page may look like?
extends layout

block content
  .profile-wrapper
    title= title
    h1 Profile
    div
      //-this is how to access logged in user. ("res.redirect("profile", {userName: req.user.username})" in profile.js)
      p Welcome #{userName}
      table
        tbody
          each val in query_rows
            tr
              td= val.username
              td= val.first_name
              td= val.last_name
              td= val.email
          else
            li No values
      a(href="/logout") Logout
